alembic
attrs
Brlapi
cached-property
certifi
cffi
chardet
chrome-gnome-shell
click
contourpy
cryptography
cupshelpers
cycler
dbus-python
deepdiff
distro
distro-info
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
fonttools
greenlet
httplib2
idna
importlib-metadata
importlib-resources
isodate
itsdangerous
Jinja2
kiwisolver
libvirt-python
louis
lxml
Mako
MarkupSafe
matplotlib
msoffcrypto-tool
mysqlclient
numpy
olefile
ordered-set
packaging
pandas
pexpect
Pillow
platformdirs
pycairo
pycparser
pycups
pycurl
PyGObject
pyparsing
PySimpleSOAP
pysmbc
python-apt
python-dateutil
python-debian
python-debianbts
pytz
pyxdg
reportbug
reportlab
requests
requests-file
requests-toolbelt
six
SQLAlchemy
unattended-upgrades
urllib3
Werkzeug
xdg
xlrd
zeep
zipp
