alembic
attrs
certifi
cffi
chardet
click
cryptography
customtkinter
cycler
deepdiff
distro
Flask
Flask-Login
Flask-Migrate
Flask-SQLAlchemy
greenlet
httplib2
idna
importlib-metadata
importlib-resources
isodate
itsdangerous
Jinja2
kiwisolver
Mako
MarkupSafe
matplotlib
mysqlclient
numpy
packaging
pandas
Pillow
pycparser
pyparsing
PySimpleSOAP
python-dateutil
reportlab
requests
requests-file
requests-toolbelt
six
SQLAlchemy
urllib3
Werkzeug
xlrd
zeep
zipp
pyqtgraph
PySide6
scipy
